<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
            <!-- Logo Image -->
            <img src="{{ "/assets/images/logo.jpg" | relative_url }}" alt="{{ site.title }}" class="rounded-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in site.nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link | relative_url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <!-- Language Switch -->
            <ul class="navbar-nav ml-auto">
                {% for lang in site.data.languages.languages %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/" | relative_url }}{{ lang }}/">{{ lang | upcase }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
