<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!-- Logo as Brand -->
    <a class="navbar-brand d-flex align-items-center" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo.jpg' | relative_url }}" alt="My Site Logo" class="navbar-logo rounded-circle">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/resume.html' | relative_url }}">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/portfolio.html' | relative_url }}">Portfolio</a>
            </li>
            <!-- Add other navigation items here -->
        </ul>
    </div>
    
    <!-- Language Switcher Combo Box -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <select class="form-control" onchange="changeLanguage(this.value);">
                <!-- English Page -->
                <option value="?lang=en" {% if page.language == 'en' %}selected{% endif %}>English</option>
                <!-- Chinese Page -->
                <option value="?lang=zh" {% if page.language == 'zh' %}selected{% endif %}>中文</option>
            </select>
        </li>
    </ul>
</nav>

<script>
      function changeLanguage(langParam) {
        // Get the current URL without the language query parameter
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('lang', langParam.slice(1)); // Remove leading "?"

        // Redirect to the new URL with the selected language
        window.location.href = currentUrl.href;
    }
</script>
