* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 定義這個會讓navbar下拉時錯誤，因為這個會影響navbar本身collapse後的大小，所以只能在內部的其他元件內設定高度來撐開navbar
.navbar {
    height: 80px;
}
*/
.navbar-brand {
    flex-shrink: 0; /* 确保 logo 不会被压缩 */
    align-items: center;
    justify-content: center; /* 水平居中图像 */
    overflow: hidden; /* 隐藏溢出的图像部分 */
}

/* 确保语言切换器的 z-index 高于其他内容 */
.navbar-nav .form-select {
    z-index: 1060; /* 确保它高于下拉选单 */
}

.navbar .navbar-collapse {
    z-index: 1050; /* 下拉菜单的 z-index 更高 */
}

.navbar-logo {
    display: block;
    line-height: 0;
    height: 100%; /* 使图像与父容器同高 */
    width: 70px; /* 确保图像不会超出父容器宽度 */
    object-fit: contain; /* 保持图像比例并适应容器 */
    border-radius: 50%; /* 确保图像是圆形的 */
}

.float-start {
    float: left;
    margin-right: 15px; /* 右边距离 */
    margin-bottom: 15px; /* 底部距离 */
}

/* 自定义样式来美化标题和图片部分 */
.index-section {
    margin-bottom: 20px; /* 增加每个 section 之间的间距 */
    padding: 20px;       /* 增加内边距 */
    border-radius: 10px; /* 添加圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    width: 100%;         /* 让每个 section 占满宽度 */
}

#intro, #skills {
    background-color: #f8f9fa; /* 浅灰色背景 */
}

#portfolio, #contact {
    background-color: #ffffff; /* 白色背景 */
}

.index-h1 {
    font-size: 2.5rem; /* 调整标题字体大小 */
    margin-bottom: 20px; /* 调整标题的底部边距 */
}

.index-img {
    max-width: 100%;
    height: auto; /* 确保图片保持比例缩放 */
}

/* 使图片镜像效果 */
.reflection-container {
    position: relative;
    text-align: center;
    overflow: hidden; /* 隐藏超出的部分 */
}

.reflection-container img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.reflection-container:before,
.reflection-container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('{{ site.baseurl }}/assets/images/logo.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.4;
    filter: blur(2px);
}

.reflection-container:before {
    left: -100%; /* 将左侧镜像偏移到容器外 */
    transform: scaleX(-1); /* 水平翻转 */
}

.reflection-container:after {
    right: -100%; /* 将右侧镜像偏移到容器外 */
}